:root {
  --background: #000000;
  --foreground: #ffffff;
  --nuetral: #b0b0b0;
}

body {
  overflow: auto;
  background: var(--background);
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: smaller;
  font-style: normal;
  color: var(--foreground);
}

.container:hover {
  color: #696969;
}

.container-extra {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: smaller;
  font-style: normal;
  color: var(--foreground);
  padding: 40px;
  box-sizing: border-box;
}

.left, .right {
  flex: 1;
  padding: 20px;
}


p {
  align-self: left;
  color: var(--foreground);
}

a {
  color: var(--foreground);
}

a:link {
  text-decoration: none;
  color: var(--foreground);
}

a:hover {
  transition: color 0.2s;
  color: #696969;
}

.social-icon {
  font-size: 23px;
  color: var(--foreground);
  text-decoration: none;
  transition: color 0.2s;
  margin: 0 10px;
}

.social-icon:hover {
  color: #696969;
}

.back {
  color: var(--foreground);
}

.img {
  height: 100px;
  width: 100px;
}

.img:hover {
  transform: scale(1.1);
}